/* Regole generali */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Helvetica, sans-serif;
}

.container {
    width: 80%;
    height: 400px;
    margin: 0 auto;
    max-width: 1180px;
    border: 1px solid black;
}

.row {
    border: 1px solid black;
    height: 50px;
    line-height: 50px;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

/* Regole di debug */
.debug {
    border: 1px solid black;
    width: 100%;
    height: 500px;
}

header {
    background-color: blue;
}

footer {
    background-color: blueviolet;
}

main {
    background-color: red;
}

/* Regole dell'header */

#logo {
    float: left;
    width: 15%;
}

#logo img {
    vertical-align: middle;
}

#login {
    float: right;
    color: white;
    text-decoration: none;
    width: 15%;
    text-align: center;
}
/* Regole della navbar */

nav {
    float: left;
    line-height: 50px;
    width: 70%;
    text-align: center;
}

nav ul li {
    display: inline;    
    list-style-type: none;
    padding: 20px;
}

nav a {
    text-decoration: none;   
    color: white;
}
/* Fine regole della navbar */

/* Fine regole dell'header */
